* {
    box-sizing: border-box;
}

html {
    font-family: var(--primary-font);
}

body {
    margin: 0;
    background-color: var(--primary-bg);
}

iframe {
    border: none;
    border-radius: var(--border-radius);
}