.main-aside {
    grid-area: aside;
    margin-left: var(--side-margin);
}

.video-list {
    flex-direction: column;
    gap: var(--video-gap);
}

.video-li {
    gap: var(--grid-gap);
    text-align: start;
    margin-bottom: 0;
    padding: 10px;
    background-color: var(--video-item-bg);
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: transform 0.2s ease;
}

.video-li:hover {
    transform: scale(1.02);
}